name: Codecov

on: 
  push:
    branches-ignore:
      - gh-pages
    paths-ignore:
      - 'docfx/**'

jobs:
  test_and_upload_coverage:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.4.0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1.9.0
      with:
        dotnet-version: 3.1.100
    - name: Test with dotnet
      run: dotnet test --configuration Release /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
    - name: Code coverage
      uses: codecov/codecov-action@v2.1.0

